{{!< main }}

<section class="news-page">
    <h1>Latest News about Space</h1>
    
    <nav class="table-of-contents">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#popular-news">Popular News</a></li>&nbsp
            <li><a href="#latest-news">Latest News</a></li>
        </ul>
    </nav>

    <section id="popular-news">
        <h2>Popular News</h2>
        <!-- Add popular news articles here -->
        <article>
            <h3>NASA exoplanet hunter finds 'weird' world surviving a star's relentless bombardment</h3>
            <img src="images/planetimg.png" alt="Post Image" style="max-width: 100%; height: auto;">
            <p>A strange planet discovered with NASA's Transiting Exoplanet Survey Satellite (TESS) has astronomers confused. Despite getting relentlessly bombarded with radiation from its red giant parent star, the world has, against all odds, hung on to its atmosphere. It is also smaller, older and hotter than scientists thought possible for such a planet.

In truth, the extrasolar planet, or "exoplanet," should be a bare husk of rock due to its proximity to the star TIC 365102760, located around 1,800 light-years away from Earth. Yet the world, nicknamed "Phoenix," has emerged from the flames of its host star with a nice and puffy atmosphere.

Phoenix, or TIC 365102760 b as the planet is officially designated, is part of a rare class of planets called "hot Neptunes." these are worlds with radii smaller than Jupiter's, but larger than Earth's. And, unlike the solar system's ice giant of the same name, hot Neptunes dwell relatively close to their host stars. Phoenix might be an incredible survivor, but the roughly 10 billion-year-old planet's luck and resilience won't last forever. The team that discovered it predicts it will spiral into its giant star in around 100 million years.</p>
            <a href="https://www.space.com/hot-jupiter-exoplanet-thermometer-molecule">Read more</a>
        </article>
        <article>
            <h3>Boeing's Starliner launches astronauts for 1st time in historic liftoff </h3>
            <img src="images/rocketimg.png" alt="Post Image" style="max-width: 100%; height: auto;">
            <p>Boeing's Starliner's first-ever astronaut mission is underway.

Starliner, Boeing's new astronaut taxi for NASA, soared into space today (June 5) from Launch Complex 41 at Cape Canaveral Space Force Station, notching a huge milestone after nearly two decades of commercial crew planning.

Veteran NASA astronauts Barry "Butch" Wilmore and Suni Williams, both former U.S. Navy test pilots with 11,000 flight hours between them, are riding aboard the Boeing Starliner capsule, which launched today at 10:52 a.m. EDT (1452 GMT) atop a United Launch Alliance's (ULA) workhorse Atlas V rocket. As it was for Starliner, this was also the first time astronauts have launched atop an Atlas V in its 22-year flight history.</p>
            <a href="https://www.space.com/boeing-starliner-crew-flight-test-launch">Read more</a>
        </article>
    </section>

    <section id="latest-news">
        <h2>Latest News</h2>
        <!-- Add latest news articles here -->
        <article>
            <h3>What time is SpaceX's Starship Flight 4 launch test on June 6?</h3>
            <img src="images/spacex.png" alt="Post Image" style="max-width: 100%; height: auto;">
            <p>SpaceX will launch its next Starship megarocket test flight early in the morning on Thursday, June 6, and if you're hoping to watch it live, you'll need to know when and where to tune in. And for that, dear space fans, we've got what you need. 

SpaceX is targeting an 8 a.m. EDT (1200 GMT) launch for its Starship Flight 4 test flight of the Starship and Super Heavy megarocket from the company's Starbase facility in South Texas. While that time could change a bit ahead of launch, it's a great target to time your watch party. 

SpaceX will offer a free live webcast of the Starship Flight 4 launch beginning at about 7:30 a.m. EDT (1130 GMT). You can watch the livestream here at Space.com, courtesy of SpaceX. Here's a look at exactly when and how to watch Starship's next launch.</p>
            <a href="https://www.space.com/spacex-starship-flight-4-launch-what-time">Read more</a>
        </article>
        <article>
            <h3>NASA 3D Instagram 'experience' brings nebulas into your home</h3>
            <img src="images/NASA.png" alt="Post Image" style="max-width: 100%; height: auto;">
            <p>A new NASA project allows Instagram users to experience the wonders of the universe as seen by the Chandra X-ray Observatory and other space telescopes. It's an augmented reality (AR) filter called an "Instagram experience" that takes staggeringly beautiful celestial bodies and places them right next to you on camera.

This includes the wreckage of stars that have been destroyed in massive supernova explosions and dense clouds of cosmic gas and dust where stars are being actively forged. The AR filter has been added to Instagram to help celebrate the 25th anniversary of Chandra, NASA's flagship X-ray space telescope, which launched on July 23, 1999.

To use the Instagram Chandra experience, search for the "NASAChandraXray" account. Select the effects options (the tab that looks like three four-pointed stars) and select the one you want. Then, you can either save the effect to your camera and apply it to your stories, or you can select the "Try it" button for instant access.</p>
            <a href="https://www.space.com/nasa-chandra-x-ray-instagram-experience">Read more</a>
        </article>
    </section>
</section>

<style>
    .news-page {
        padding: 20px;
    }

    .table-of-contents {
        margin-bottom: 20px;
    }

    .table-of-contents ul {
        list-style-type: none;
        padding: 0;
    }

    .table-of-contents li {
        margin: 5px 0;
    }

    .table-of-contents a {
        text-decoration: none;
        color: #007BFF;
    }

    .table-of-contents a:hover {
        text-decoration: underline;
    }

    section {
        margin-bottom: 40px;
    }

    article {
        margin-bottom: 20px;
    }

    article h3 {
        margin: 0 0 10px 0;
    }

    article p {
        margin: 0 0 10px 0;
    }

    article a {
        text-decoration: none;
        color: #007BFF;
    }

    article a:hover {
        text-decoration: underline;
    }
</style>
